
{% extends 'header.html' %}
{% block base %}
<div align="center">
<form action=" ">
  <label for="fname">Fever</label>&nbsp
  Yes<input type="radio" name="1btn" value="1"/>&nbspNo<input type="radio" name="1btn" value="0"/><br><br>
  <label for="fname">Fever</label>&nbsp
  Yes<input type="radio" name="2btn" value="1"/>&nbspNo<input type="radio" name="2btn" value="0"/><br><br>
  <label for="fname">Fever</label>&nbsp
  Yes<input type="radio" name="3btn" value="1"/>&nbspNo<input type="radio" name="3btn" value="0"/><br><br>
  <label for="fname">Fever</label>&nbsp
  Yes<input type="radio" name="4btn" value="1"/>&nbspNo<input type="radio" name="4btn" value="0"/><br><br>
  <label for="fname">Fever</label>&nbsp
  Yes<input type="radio" name="5btn" value="1"/>&nbspNo<input type="radio" name="6btn" value="0"/><br><br>
  <input type="submit" value="Submit">
</form>
</div>

{% endblock %}
