
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Indiameter</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css'>
 <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165094332-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165094332-1');
    </script>

</head>

<!-- partial:index.partial.html -->

        
        <!--MDB Navbars-->


            <nav class="mb-4 navbar navbar-light white mb-4 top-nav main-nav" >
                <a class="navbar-brand" href="/">Indiameter.live</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
                    <!--<ul class="navbar-nav mr-auto">
                    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Safety Precautions</a>
                        </li>
                        
                    </ul>-->
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        
                        <li class="nav-item">
                          {% if user.is_authenticated %}
                              <p>Hello {{ user.get_full_name|default:user.username }}!</p>
                          {% else %}
                             
    
                          {% endif %}
                            
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> 
                                </a>
                            <div class="dropdown-menu dropdown-menuSafety Precautions-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                              {% if user.is_authenticated %}
                                <a class="dropdown-item" href="accounts/logout">Logout</a>
                                {% else %}
                                <a class="nav-link waves-effect waves-light" href="accounts/login">Login with<i class="fa fa-google-plus"></i></a></a>
                                {% endif %}
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
      
          


      
{% block counter %}{% endblock %}
{% block base %}{% endblock%}



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

</body>
</html>
