{% extends 'header.html'%}
{% block counter %}

    
     
<style>
  body, html {
     background-color:#EBECF0;
   }
   .collapsible1 {
   
     cursor: pointer;
     padding: 18px;
     width: 50%;
     height: 20%;
     margin-left: 25%;
     margin-top: 10px;
     color: black;
     font-size: 15px;
     border-radius: 10px;
     border: 0;
     outline: 0;
     text-align: center;
     box-shadow: -5px -5px 20px #EBECF0,  5px 5px 20px #BABECC;
     transition: all 0.2s ease-in-out;
    
     
   }
   .collapsible1:hover {
       box-shadow: -2px -2px 5px #EBECF0, 2px 2px 5px #BABECC;
     }
     
   
   .collapsible1:active {
       box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #EBECF0;
   }
   .content {
     overflow: hidden;
     max-height: 0px;
     transition: max-height 0.2s ease;
     
     background-color: #f1f1f1;
     text-align: center,
     
     
   }
   .color-box{
       width:120px;
       height:120px;
       border-radius: 50;
       border: 2px solid red;
       margin: 10px;
       
       display:inline-block;
       align-self: auto
   }
     .div_container {
         text-align:center;
         max-width: 800px

      }
   
      .table-head th{
         text-align:center
         }
         .table1{
           width: 100%;
           font-family: verdana;
         }
     .table1 th{
       font-size: 14px;
       width: 20%;
       text-align: center;
     }
     .table1 tr{
       margin-top: 10px;
       height: 30px
     }
     .table1 td{
       font-size: 12px;
       
     }


   .main-card{
     cursor: pointer;
     padding: 0px;
     width: 50%;
     height: 120px;
     margin-left: 25%;
     margin-right: 2%;
     margin-bottom: 20px;
     position: -webkit-sticky;
     position: sticky;
     top: 0.1em;
     
     color: white;
     font-size: 20px;
     border-radius: 10px;
     background-color: #485461;
     background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

     text-align: center;
     box-shadow: -0px -5px 20px #EBECF0,  0px 5px 20px #BABECC;
     
   }
   .table0{
     text-align: left;
     margin-left: 5%;
     width: 80%;

   }
   .table0 td{
     width: 30%
   }
   .table2{
     text-align: center;
     height: 30px;
     width: 50%;
     margin-left: 25%;
     margin-right: 2%;
   }
   .table-dist{
     margin-left: 28%;
     width: 45%
   }
   .dist-td{
     text-align: right
   }
   
   .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
   }
   
   .switch input { 
     opacity: 0;
     width: 0;
     height: 0;
   }
   
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   input:checked + .slider {
     background-color: #2196F3;
   }
   
   input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
   }
   
   /* Rounded sliders */
   .slider.round {
     border-radius: 34px;
   }
   
   .slider.round:before {
     border-radius: 50%;
   }
   .main-cd-right{
     text-align: center;
   }
   .main-card-heading{
     width: 30%;
     margin-top: 50px;
    
   }
   @media only screen and (max-width:768px){
       .collapsible1 {
     
       cursor: pointer;
       padding: 0px;
       width: 95%;
       margin-left: 3%;
       margin-top:-20px;
       color: black;
       height: 80px;
       border-radius: 10px;
       
       text-align: center;
       box-shadow: -0px -5px 10px #EBECF0,  0px 5px 10px #BABECC;
       transition: all 2s ease-in-out;
      
       
     }
     .table1 th{
       font-size: 13px;
       
       text-align: center;
     }
     .table1{
       margin-top: 30px;
       height: 40px;
       

       

     }
     .table1 td{
       font-size: 12px;
       
     }
     .table1-state{
       overflow: hidden;
     
     display:block;
     width: 80px;
     max-height: 35px;
     }
     
     
     .heading{
       width: 18%
     }
     

   
   .main-card{
     cursor: pointer;
     padding: 0px;
     width: 95%;
     height: 110px;
     margin-left: 3%;
     margin-right: 2%;
     margin-bottom: 10px;
     margin-top: 20px;
     position: -webkit-sticky;
     position: sticky;
     top: 0.1em;

     color: white;
     
     border-radius: 10px;
     background-color: #485461;
     background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

     text-align: center;
     box-shadow: -0px -5px 20px #EBECF0,  0px 5px 20px #BABECC;
     
   }

   .table0 td{
     font-size: 11px;
     height: 40%;
     
     
   }
   .table0{
     margin-left: 10px;
     margin-right: 10px;
     
     width:90%;
     height:90%;
     margin-top:-10px;
   }
   
   .main-card-heading{
     width: 40%;
     margin-top: 50px
   }
   .main-cd-right{
     text-align: center;
     font-size:11px;
   }
   .symptom{
     color: white;
     font-size: 14px;
     text-align: center;
   }
 
   .table-dist{
   
     margin-left: 0px;
   width: 97%;
  
   }
   .table-dist th{
   
   font-size: 12px;
   
   }
   .table-dist td{
  
   font-size: 13px;
   
   }
   .dist-tr{
  border-spacing: 10px;
   border: 2px solid white;
   border-radius: 20%
   
   }
 .dist-total-th{
   text-align: right;

 }
 .deceased-heading{
   width:60px;
   text-align: right;

 }
 .dist-td{
   widows: 40px;
 }
 .dist-active{
   text-align:right;
   width:55px;
 }
 .active-dist{
   text-align: right
 }
 .content{
   margin-left: 15px; 
   width: 95%;
  

 }
 
 .district{
   text-align: left;
   width: 70px
 }
 .total{
   text-align: right;
   width:60px;

 }
 .recover{
   text-align: right;
   width:60px
 }
 .death{
   text-align: right;
   width: 50px
 }

 .switch {
   position: relative;
   display: inline-block;
   width: 30px;
   height: 16px;
 }
 
 .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 13px;
   width: 13px;
   left: 2px;
   bottom: 2px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color: #2196F3;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(13px);
   -ms-transform: translateX(13px);
   transform: translateX(13px);
 }
 
 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }
 .worldwide{
   height:40px;
   font-size:13px;
   text-align: center;
   margin-top:10px
 }
}
</style>

<body> 
  
  <div class="main-card" >
    <table class="table0" >
      <tr class="main-card-tr" style="height:35px;">
          <th class="main-card-heading" colspan="2" id="all-india"><h6>All India</h6></th>
          <td rowspan="2" class="main-cd-right" style="font-size:10px">
                 Last updated:<br>{{allind.lastupdatedtime}}
          </td>
      </tr>
      <tr>
        <td >Total Effected: </td>
        <td id="toggle-total">{{allind.confirmed}}</td>
        
      </tr>
      <tr>
        <td >Deceased:</td>
        <td id="des">{{allind.deaths}}</td>
        <td rowspan="2" class="worldwide">
          Show Worldwide
            <label class="switch" >
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
        </td>
      </tr>
      <tr>
        <td id="ns">Recovered:</td>
        <td id="ns-data">{{allind.recovered}}</td>
        
      </tr>


    </table>
  </div>

   {% for item in s %}
  <div class="collapsible1" style="background-color: white;">
   
      <table class="table1">
      <tr class="table1-head">
          <th class="" >State</th>
          <th>Total</th>
          <th>New Case</th>
          <th>Total Death</th>
          <th>New Death</th>
          <th class="aerrow">
          <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>
          </svg>
        </th>
      </tr>




    <tr class="state-tr">
        <td class="table1-state">{{item.state}}</td>
        <td>{{item.confirmed}}</td>
        <td>{{item.deltaconfirmed}}</td>
        <td style="background-color:red;color:white">{{item.deaths}}</td>
        <td>{{item.deltadeaths}}</td>
        
    </tr>

  </table>
  </div>


      
      <div class="content" style="margin-top:5px;background-color: #EBECF0">
        
        <table class="table-dist" >

          <tr class="table2-head" >
              <th class="district">District</th>
              <th class="dist-total-th dist-td" >Total</th>
              <th class="recover dist-td">Recovered</th>
              <th class="deceased-heading dist-td"  >Deceased</th>
              <th class="dist-active dist-td">Active</th>
          </tr>
    
    
    
    {% for item2 in item.district%}
        <tr class="dist-tr">
            <td class="district">{{item2.district}}</td>


            <td class="total dist-td">
                {% if item2.delta.confirmed%}
                
                <svg class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="orange" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                  
                </svg>
                <sub>
                <i><b>{{item2.delta.confirmed}}</b></i>
                </sub>
                {% endif %}
              
              &nbsp{{item2.confirmed}}
            </td>


            <td class="recover dist-td">
              {% if item2.delta.recovered%}
              
                <svg class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                </svg>
                <sub>
                <i><b>{{item2.delta.recovered}}</b></i>
                </sub>
              {% endif %}

              &nbsp{{item2.recovered}}
            </td>


            <td class="death dist-td" >
              
                {% if item2.delta.deceased%}
                <sub>
                <svg class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                  
                </svg></b>
                <i><b>{{item2.delta.deceased}}</b></i>
                </sub>
                {% endif %}
                
                &nbsp{{item2.deceased}}
                
            </td>

            <td class="active-dist dist-td">{{item2.active}}</td>
            
        </tr>
    {% endfor %}
      </table>
      
    </div>
      

  {% endfor %}

</body>
<script>

  var coll = document.getElementsByClassName("collapsible1");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  
  document.addEventListener('DOMContentLoaded', function () {
      var checkbox = document.querySelector('input[type="checkbox"]');
    
      checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
          // do this
        document.getElementById('toggle-total').innerHTML="{{Total}}+";
        document.getElementById('all-india').innerHTML="Worldwide";
        document.getElementById('des').innerHTML="{{Total_death}}+";
        document.getElementById('ns').innerHTML="New Case";
        document.getElementById('ns-data').innerHTML="{{new_case}}+";
          
        } else {
        
        document.getElementById('toggle-total').innerHTML="{{allind.confirmed}}";
        document.getElementById('all-india').innerHTML="All India";
        document.getElementById('des').innerHTML="{{allind.deaths}}";
        document.getElementById('ns').innerHTML="Recovered";
        document.getElementById('ns-data').innerHTML="{{allind.recovered}}";
        }
      });
    });
  
</script>
{% endblock %}
